.underlined-text{
	text-decoration: underline;
}

.bold-text{
	font-weight: bold;
}

/* id selector*/

.comicSans{
	font-family: "Comic Sans MS";
}

/*attribute selector*/
/*
[href]{
	color: green;

}*/

nav {
	background: #D5B0AC;
	text-align: center;
	margin: auto;
}

.menuList{
	color: #402E2A;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.horizontalMenu a {
	display: inline-block;
}

a:hover{
	background: #9CD08F;
	color: #FFF;
}

img {
	width: 200px;
}

span{
	color: #402E2A;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.horizontalMenu span {
	display: inline-block;
}

.verticalMenu{
	margin-top: 50px;
	width: 100px;
}

.verticalMenu span{
	display:block;
}

span:hover{
	background: #9CD08F;
	color: #FFF;
}

ul {
	list-style: none;
}

.centerText {
	text-align: center;
}

